<div class="max-md:w-[170px] max-md:max-w-[170px] max-md:min-w-[170px] max-md:pr-[10px] md:h-[340px] md:max-h-[340px] md:min-h-[340px] md:pb-5">
  {{
    block.settings.image
    | image_url: width: 220
    | image_tag:
      class: 'max-md:w-[160px] max-md:max-w-[160px] max-md:min-w-[160px] max-md:object-contain max-md:rounded-[20px] md:h-[320px] md:max-h-[320px] md:min-h-[320px] md:object-cover md:rounded-[20px]',
      widths: '160,220,320,480,640',
      sizes: '(max-width: 749px) 160px, 320px'
  }}
</div>
