<div class="flex flex-col w-full gap-4">
  <div class="flex items-center gap-6 justify-center text-center">
    <div class="text-[16px] md:text-[16px] font-normal !leading-tight text-[#001C19]">
      One-Time
      <br>
      Purchase
    </div>
    <div class="toggle sub-onetime-toggle group cursor-pointer select-none active">
      <div
        class="
          toggle-box
          w-16 h-8 rounded-full !block
          bg-gray-300
          group-[.active]:bg-[#00B7A2]
          relative transition-all duration-300
        "
      >
        <div
          class="
            toggle-knob
            w-7 h-7 bg-white rounded-full !block
            absolute top-0.5 left-0.5
            transition-all duration-300
            group-[.active]:translate-x-8
          "
        ></div>
      </div>
    </div>
    <div class="text-[16px] md:text-[16px] font-bold !leading-tight text-[#001C19]">
      Subscribe
      <br>
      & Save
    </div>
  </div>
 <div class="sub-only-content text-[14px] md:text-[14px] font-normal !leading-tight text-[#001C19] text-center">
      <span class="font-bold underline">Ships every 3 months.</span> Pause or cancel anytime.
    </div>

  <div class="sub-only-content border-[2px] border-[#00B7A2] rounded-[10px] p-5 md:p-6 flex justify-between items-center gap-5">
    <div class="flex flex-col gap-2 text-center items-center">
      <div class="bg-[#00B7A2] w-8 min-w-8 h-8 rounded-[32px] flex items-center justify-center text-center text-[14px] md:text-[14px] font-normal !leading-tight text-[#fff]">
        1
      </div>
      <div class="text-[15px] md:text-[15px] font-bold !leading-tight text-[#001C19]">First Order</div>
      <div class="text-[15px] md:text-[15px] font-normal !leading-tight text-[#8E8E8E]">Dispensers + Cartridges</div>
    </div>

    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.172 13L4 13L4 11L16.172 11L10.808 5.636L12.222 4.222L20 12L12.222 19.778L10.808 18.364L16.172 13Z" fill="#8E8E8E"/>
    </svg>

    <div class="flex flex-col gap-2 text-center items-center">
      <div class="bg-[#00B7A2] w-8 min-w-8 h-8 rounded-[32px] flex items-center justify-center text-center text-[14px] md:text-[14px] font-normal !leading-tight text-[#fff]">
        1
      </div>
      <div class="text-[15px] md:text-[15px] font-bold !leading-tight text-[#001C19]">Every 3 Months</div>
      <div class="text-[15px] md:text-[15px] font-normal !leading-tight text-[#8E8E8E]">Refill cartridges only</div>
    </div>
  </div>

  <div class="sub-only-content bg-[#EFF6F6] rounded-[10px] px-4 py-4 md:py-5 grid md:grid-cols-2 gap-2">
    {% for i in (1..8) %}
      {% assign description_name = 'sub_feature' | append: i %}
      {% assign description = block.settings[description_name] %}
      {% if description != blank %}
        <div
          class="flex items-center gap-2"
        >
          {% if block.settings.feature_icon != blank %}
            {{
              block.settings.feature_icon
              | image_url: width: 16
              | image_tag: class: 'w-full h-fit object-contain max-w-[16px]'
            }}
          {% endif %}
          <div
            class="text-[14px] md:text-[14px] font-normal !leading-tight text-[#001C19]"
            style="color: {{ block.settings.color }};"
          >
            {{ description }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  #productsVariants variant-selects + variant-selects {
    display: none !important;
    height: 0;
    opacity: 0!important;
    visibility: invisible!important;
  }
</style>

<script>
    const toggle = document.querySelector('.toggle');
    if (toggle) {
      // Get the elements to show/hide
      const subOnlyElements = document.querySelectorAll('.sub-only-content');

      toggle.addEventListener('click', function () {
        this.classList.toggle('active');
        const isActive = this.classList.contains('active');
        const productsVariants = document.querySelector('#productsVariants');

        if (!isActive) {
          // One-Time Purchase selected - HIDE subscription content
          const input = document.querySelector('input[re-sub-widget__selling-plan-input]');
          if (input) input.value = '';
          if (productsVariants) {
            productsVariants.classList.remove('show-subscription');
            productsVariants.classList.add('show-onetime');
          }

          // Hide subscription-only elements
          subOnlyElements.forEach(el => el.style.display = 'none');

        } else {
          // Subscribe & Save selected - SHOW subscription content
          const selectedLabel = document.querySelector(
            '.product-form__input--pill input[type=radio].new-lp-variant--inut-sub:checked+label.new-lp-variant--label-sub'
          );
          if (selectedLabel) {
            const subId = selectedLabel.getAttribute('data-subscription-id');
            const input = document.querySelector('input[re-sub-widget__selling-plan-input]');
            if (input) input.value = subId;
          }
          if (productsVariants) {
            productsVariants.classList.remove('show-onetime');
            productsVariants.classList.add('show-subscription');
          }

          // Show subscription-only elements
          subOnlyElements.forEach(el => el.style.display = '');
        }
      });
    }
  </script>