<div
  class="flex items-center h-full w-full px-2 md:px-5 py-3 md:py-4 {% if center %} text-center justify-center {% endif %} {% if  block.settings.header %} text-[13px] md:text-[18px] {% else %} text-[13px] md:text-[18px] {% endif %}"
  style="color: {{ color }}"
>
{% if icon != blank %}
    {% if block.settings.icon != blank %}
                          {{ block.settings.icon | image_url: width: 23 | image_tag: class: 'w-full max-w-[16px] md:max-w-[23px]' }}
                        {% endif %}
{% endif %}
  {{ text }}
</div>
