<div
  class="flex items-center gap-1 h-full w-full px-2 md:px-3 py-3 md:py-4 font-semibold {% if center %} text-center justify-center {% endif %} {% if  block.settings.header %} text-[14px] md:text-[18px] font-bold {% else %} text-[15px] md:text-[18px] {% endif %}"
  style="color: {{ color }}"
>
  {% if icon != blank %}
    {{ icon | image_url: width: 23 | image_tag: class: 'w-full max-w-[16px] md:max-w-[23px]' }}
  {% endif %}
  {{ text }}
</div>
