@font-face {
	font-family: "RedHatText";
	src: url("RedHatText-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RedHatText";
	src: url("RedHatText-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RedHatText";
	src: url("RedHatText-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RedHatText";
	src: url("RedHatText-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "RedHatText";
	src: url("RedHatText-Light.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-body-family: "RedHatText", sans-serif;
	--font-heading-family: "RedHatText", sans-serif;
}

.red-hat-text {
	font-family: "RedHatText", sans-serif;
}

body {
	letter-spacing: 0;
}